<span class="item">
  <input type="checkbox" class="suppressedField" >
  <div class="name {{addTopographyStyle children}}">
    {{#hasChildren children}}
      <img src="" class="arrow opened" alt="" />
    {{else}}
      <img src="" class="arrow closed" alt="" />
    {{/hasChildren}}
    <span class="category-name">{{name}}</span>
  </div>
  <div class="category-id">
    <a href="#">{{id}}</a>
  </div>
</span>
<ul class="subcategories">

</ul>
